<div class='card'>
  <div class='car-header'>
    <h1 class='single-post-text'>{{post.title}}</h1>
    <p class='single-post-text'>Posted by
      {{post.user.user_name}}
      on
      {{format_date post.created_at}}</p>
  </div>
  <div class='card-text'>
    <p class='single-post-text'>
      {{post.post}}
    </p>
  </div>
</div>
<button class='delete-button'>Delete</button>
<a class="edit-button" href='/api/posts/editPost/{{post.id}}'>Edit</a>
<script src='/js/edit.js'></script>