<div class='card'>
  <div class='car-header'>
    <h1 class='single-post-text'>{{post.title}}</h1>
    <p class='single-post-text'>Posted by
      {{post.user.user_name}}
      on
      {{post.created_at}}</p>
  </div>
  <div class='card-text'>
    <p class='single-post-text'>
      {{post.post}}
    </p>
  </div>
</div>
<div class='comment-input-section'>
  <input class='comment-input' type='text' />
  <button>Comment</button>
</div>
<h3 style='text-decoration: underline;'>Comments</h3>
{{#each post.comments as |all|}}
  <div class='comments-section'>
    <p style='font-weight: 800;'>Posted by {{all.user.user_name}} 3/4/23</p>

    <p class='comment'>
      {{all.comment}}

    </p>
  </div>
{{/each}}